Text{
    -fx-font-family: Verdana;
}

.background{
    -fx-background-color: #00000066;
}

.displayBoard{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 3);
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 20;
}

/* Header */

.header{
    -fx-background-color: #1A1A1A;
    -fx-background-radius: 16 16 0 0;
}

.header Text{
    -fx-fill: white;
    -fx-font-family: Verdana;
}

/*Equip Button*/

.equipButton{
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.equipButton:hover{
    -fx-border-color: transparent;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}


/*Exit Button*/

.exitButton{
    -fx-background-radius: 16;
    -fx-border-radius: 14;
    -fx-border-color: #FFFFFF;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24;
}

.exitButton:hover  {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

/*Scroll Pane*/

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.scroll-pane {
       -fx-background-color: transparent;
}

/* Text */

.title{
    -fx-font-size: 24;
}

.description{
    -fx-font-size: 16;
}


