/* Equipment Pane */

.equipmentPane{
    -fx-border-width: 2;
    -fx-border-radius: 18;
    -fx-border-color: #FFFFFFC0;
    -fx-background-radius: 20;
    -fx-background-color: #FFFFFF1A;
    -fx-padding: 10 20;
}

.equipmentPane Text{
    -fx-font-size: 18;
    -fx-fill: #FFFFFF;
}

.equipmentPane:hover {
      -fx-scale-x: 1.10;
      -fx-scale-y: 1.10;
}