Text{
    -fx-font-family: Verdana;
}

/* Background */

.mainBackground{
    -fx-background-color: #1A1A1A;
}

Text{
    -fx-font-family: Verdana;
}

.skillBackground{
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: #E6E6E6;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 10 10 0 0;
}

.equipmentText{
    -fx-fill: #E6E6E6;
}

/* Resources Pane */

.resourcesPane{
    -fx-border-width: 0 2 2 2;
    -fx-border-radius:0 0 18 18;
    -fx-border-color: #000000C0;
    -fx-background-radius: 0 0 20 20;
    -fx-background-color: #D9D9D9;
    -fx-padding: 10 20;
}

.resourcesText {
    -fx-fill: #000000C0;
}

/* Return Button */

.returnButton{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 0, 0.3, 5, 5);
    -fx-transition: translate-y 0.2s;
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 0 0 20 20;
    -fx-text-fill: #1A1A1A;
    -fx-padding: 10;
}

.returnButton:hover {
    -fx-background-color: #1A1A1A;
    -fx-border-radius: 0 0 18 18;
    -fx-border-color: #E6E6E6;
   -fx-text-fill: #E6E6E6;
}



.shadow{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.3, 0, 5);
}