Text{
    -fx-font-family: Verdana;
}

.selectedPane{
    -fx-background-color: #1A1A1A;
    -fx-background-radius: 6;
    -fx-border-radius: 4;
    -fx-border-color: #E6E6E6;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 0, 0.3, 5, 5);

}

.selectedPane Text{
    -fx-fill: #FFFFFF;
}

.selectedPane:hover {
    -fx-scale-x: 1.10;
    -fx-scale-y: 1.10;
}

.pane{
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 0, 0.3, 5, 5);
}

.pane:hover {
    -fx-scale-x: 1.10;
    -fx-scale-y: 1.10;
}

/* Image Pane */
.imagePane{
    -fx-background-color: #1A1A1ACC;
    -fx-background-radius: 12;
    -fx-padding: 3;
}

.skillName{
    -fx-font-size: 18;
}

.skillDescription{
    -fx-font-size: 16;
}